#menu-popup {
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgb(200, 200, 200);
  border: outset;
  margin: 1em;
  display: none;
}
#menu-popup-close {
  text-align: right;
}
#menu-popup-close-inner {
  border: outset;
}
#menu-popup-close-inner:hover {
  border: inset;
}
.menu-popup-item {
  border: outset;
  margin: 0.5em;
}
.menu-popup-item:hover {
  border: inset;
}
.text-character-cipher {
  font-size: 1.5em;
  color: white;
  background-color: black;
  margin: 1px;
  width: 1.5em;
  display: inline-block;
  text-align: center;
}
.text-character-plain {
  font-size: 1.5em;
  color: black;
  background-color: white;
  margin: 1px;
  width: 1.5em;
  display: inline-block;
  text-align: center;
}